#!/usr/bin/make -f

export PYBUILD_DISABLE=test
export DH_VERBOSE=1

# Skip the build step and handle it manually
override_dh_auto_build:
	# Skip the automatic build

%:
	dh $@ --with python3 --buildsystem=pybuild

