[Unit]
Description=AI Control Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/starwit/sae-ai-control
ExecStart=/usr/local/bin/sae-ai-control
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target